.mt-2 .text-header-category p{
    font-size : 28px
}
#tables{
    margin-top: 0.2rem;
}
#editca{
    font-size: 26px;
    margin-top: 3rem;
}
#addca{
    font-size: 26px;
}
.success-delete{
    max-width: 20rem;
    min-width: 15rem;
    text-align: center;
    position: absolute;
    left:34rem
}