body {
    background: black;
}

.card{ 
    height : 410px;
    width: 241px;
    border:none
}
.card .img-top{
    height: 274px;
}
#success-delete{
    position: absolute;
    top: 4rem;
    left: -5rem;
    min-width: 60rem;
}